body {
  margin: 0;
  padding: 0;
}

.hero {
  /* background: url() center / cover; */
  min-height: 200px;
  height: 40vh;
}

.translucent-white {
  background: rgba(255,255,255,0.9);
}

.hide {
    display: none;
}

.f-right {
    float: right;
}

.text-center {
  text-align: center;
}

.overflow-x-auto {
    overflow-x: auto;
}

/* primary call to action styles */

#primary-action-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media(min-width: 1024px) {
    #primary-action-button {
        bottom: 3rem;
        right: 5rem;
    }
}

/* Tab styles */
.tab-panels .panel {
    display: none;
}
.tab-panels .panel.active {
    display: block;
}

.card-cover {
  height: 200px;
  color: white;
}

.mets-cover {
  background: url('/FitnessJS/assets/vegetables.jpg') no-repeat center center;
  background-size: cover;
}

.calories-cover {
  background: url('/FitnessJS/assets/soup.jpg') no-repeat center center;
  background-size: cover;
}

.composition-cover {
  background: url('/FitnessJS/assets/shoes.jpg') no-repeat center center;
  background-size: cover;
}

.cardio-performance-cover {
  background: url('/FitnessJS/assets/track.jpg') no-repeat center center;
  background-size: cover;
}

.rep-max-cover {
  background: url('/FitnessJS/assets/track-rubber.jpg') no-repeat center center;
  background-size: cover;
}

.mdl-layout-title > a {
  text-decoration: inherit;
  color: inherit;
}
