<!DOCTYPE html>

<head>
    <!-- Google Tag Manager -->
    <!--script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName()[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NCXJXW');</script-->
    <!-- End Google Tag Manager -->
    <title>FitnessJS - Cardio Performance Prediction Tool</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" property="health,wellness,fitness,physical fitness,physical activity,running,cycling,biking,swimming,weightlifting,lifting,gym,formula,calculations,javascript,VO2,VO2max">
    <meta name="description" property="An easy, reliable library for building exercise related tools for running, swimming, cycling, and weightlifting.">

    <!-- Open Graph Tags -->
    <meta id="meta-title" property="og:title" content="Cardio Performance Prediction Tool">
    <meta id="meta-description" property="og:description" content="Estimate and compare times in running, swimming, and cycling events based on past performances.">
    <meta property="og:type" content="product">
    <meta id="meta-image" property="og:image" content="https://dpfens.github.io/FitnessJS/assets/track-rubber.jpg">
    <meta property="og:url" content="https://dpfens.github.io/FitnessJS/tools/cardio-performance">
    <meta name="twitter:card" content="summary_large_image" />

    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content="FitnessJS">
    <meta name="twitter:creator" content="@DougFenstermach" />
    <meta name="twitter:image:alt" content="The view down the track from the starting line">

    <!--  Non-Essential, But Required for Analytics -->
    <meta property="fb:app_id" content="1762255830763736" />
    <meta name="twitter:site" content="@DougFenstermach">

    <link rel="canonical" href="https://dpfens.github.io/FitnessJS/tools/cardio-performance" />

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#29ABE2" />

    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#29ABE2" />

    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../css/prism.css">
    <link rel="stylesheet" href="../../css/material.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <!--noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCXJXW"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript-->
    <!-- End Google Tag Manager (noscript) -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: '1762255830763736',
                xfbml: true,
                version: 'v2.8'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="app" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title"><a href="/FitnessJS"><img width="200px" src="/FitnessJS/assets/small-logo.svg" /></a></span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="https://github.com/dpfens/FitnessJS/wiki">Wiki</a>
                    <a class="mdl-navigation__link" href="/FitnessJS/tools">Tools</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title"><a href="/FitnessJS"><img width="100%" src="/FitnessJS/assets/small-logo.svg" /></a></span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="https://github.com/dpfens/FitnessJS/wiki">Wiki</a>
                <a class="mdl-navigation__link" href="/FitnessJS/tools">Tools</a>
            </nav>
        </div>
        <main class="mdl-layout__content">

            <h2 v-if="title" class="text-center">{{ title }}</h2>

            <div class="mdl-grid cover">

                    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect mdl-cell mdl-cell--12-col mdl-cell--4-col-desktop mdl-shadow--4dp">
                        <div class="mdl-tabs__tab-bar">
                            <a href="#performances-panel" class="mdl-tabs__tab">Performances</a>
                            <a href="#new-performance-panel" class="mdl-tabs__tab is-active">New</a>
                        </div>

                        <div class="mdl-tabs__panel" id="performances-panel">
                            <ul v-if="performances.length" class="mdl-list mdl-cell mdl-cell--12-col">
                                <li v-for="(performance, index) in performances" :class="{ 'mdl-list__item': editingPerformance !== performance, 'mdl-list__item--two-line': editingPerformance !== performance  }">
                                    <span :class="{ 'hide':editingPerformance === performance, 'mdl-list__item-primary-content': performance }">
                          <span>{{ performance.label }}</span>
                                    <span class="mdl-list__item-sub-title">{{ performance.distance.value }}{{performance.distance.units.value}} - {{ performance.time.formatted }}</span>
                                    </span>
                                    <a v-on:click="editPerformance(performance)" :class="{ 'hide':editingPerformance === performance, 'mdl-list__item-secondary-action': performance }"><i class="material-icons">mode_edit</i></a>
                                    <div :class="{ hide: editingPerformance !== performance, 'mdl-cell': performances, 'mdl-cell--12-col': performances }">
                                        <button v-on:click="savePerformance(performance)" class="mdl-button mdl-js-button mdl-button--icon f-right">
                                            <i class="material-icons">check</i>
                                        </button>
                                        <button v-on:click="removePerformance(performance)" class="mdl-button mdl-js-button mdl-button--icon f-right">
                                            <i class="material-icons">delete</i>
                                        </button>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" v-on:keyup.enter="savePerformance(performance)" v-model="performance.label" type="tel">
                                            <label class="mdl-textfield__label" for="label">Label</label>
                                            <span class="mdl-textfield__error">Enter a valid label</span>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" v-on:keyup.enter="savePerformance(performance)" v-model="performance.time.formatted" type="tel">
                                            <label class="mdl-textfield__label" for="t1">Time</label>
                                            <span class="mdl-textfield__error">Enter a valid time</span>
                                        </div>

                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" v-on:keyup.enter="savePerformance(performance)" v-model="performance.distance.value" type="tel" pattern="\d+(\.\d+)?">
                                            <label class="mdl-textfield__label" for="d1">Distance</label>
                                            <span class="mdl-textfield__error">Enter a valid distance</span>
                                        </div>

                                        <button v-bind:id="performance.id" v-text="performance.distance.units.name" class="mdl-button mdl-js-button mdl-button--raised">
                                            {{performance.distance.units.name}}
                                        </button>
                                        <input type="hidden" v-model="performance.distance.units" id="distanceUnits" />

                                        <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect" :for="performance.id">
                                            <li class="mdl-menu__item" v-on:click="setDistanceUnit(performance, unit)" v-for="unit in units.distance.options">{{ unit.name }}</li>
                                        </ul>

                                    </div>
                                </li>

                            </ul>
                            <div v-else >
                                <p class="text-center">No performances...yet</p>
                            </div>
                        </div>

                        <div class="mdl-tabs__panel is-active" id="new-performance-panel">
                            <div action="#" class="mdl-grid mdl-cell mdl-cell--12-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col mdl-cell--2-col-phone mdl-cell--2-col-tablet">
                                    <input class="mdl-textfield__input" v-on:keyup.enter="addPerformance" v-model="newPerformance.time.formatted" type="tel">
                                    <label class="mdl-textfield__label" for="t1">Time</label>
                                    <span class="mdl-textfield__error">Enter a valid time</span>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col mdl-cell--2-col-phone mdl-cell--2-col-tablet">
                                    <input class="mdl-textfield__input" v-model="newPerformance.distance.value" v-on:keyup.enter="addPerformance" type="tel" pattern="\d+(\.\d+)?">
                                    <label class="mdl-textfield__label" for="d1">Distance</label>
                                    <span class="mdl-textfield__error">Enter a valid distance</span>
                                </div>

                                <button id="distance-new" class="mdl-button mdl-js-button mdl-button--raised">
                                    {{units.distance.current.name}}
                                </button>
                                <input type="hidden" v-model="newPerformance.distance.units" id="distanceUnits" />

                                <button v-on:click="addPerformance" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                                    <i class="material-icons">add</i>
                                </button>

                                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="distance-new">
                                    <li class="mdl-menu__item" v-on:click="setDistanceUnit(newPerformance, unit, true)" v-for="unit in units.distance.options">{{ unit.name }}</li>
                                </ul>

                            </div>
                        </div>

                    </div>

                    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-cell--8-col-desktop mdl-shadow--4dp">
                        <div class="mdl-card__menu">
                            <button id="share-menu" class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons">share</i>
                            </button>
                        </div>

                        <h6>Performance Model</h6>

                        <canvas id="chart"></canvas>

                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="share-menu">
                            <a class="mdl-menu__item" v-bind:href="share.facebook">Facebook</a>
                            <a class="mdl-menu__item" v-bind:href="share.twitter">Twitter</a>
                        </ul>

                    </div>

                </div>

                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                    <div class="mdl-tabs__tab-bar">
                        <a href="#next-steps-panel" class="mdl-tabs__tab is-active">Recommend</a>
                        <a href="#howitworks-panel" class="mdl-tabs__tab">How It Works</a>
                        <a href="#feedback-panel" class="mdl-tabs__tab">Feedback</a>
                    </div>

                    <div class="mdl-tabs__panel is-active" id="next-steps-panel">

                        <div class="mdl-grid">

                        <!-- Page recommendation card -->
                        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title card-cover calories-cover">
                                <h2 class="mdl-card__title-text">Calories</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                Estimate calories needed to sustain mileage, lose weight, or prepare for races.
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a v-bind:href="recommendedURLs[0]" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Get Started
    </a>
                            </div>
                        </div>

                        <!-- Page recommendation card -->
                        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title card-cover composition-cover">
                                <h2 class="mdl-card__title-text">Composition</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                Estimate body composition of competitors, training partners, or clients.
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a v-bind:href="recommendedURLs[1]" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Get Started
    </a>
                            </div>
                        </div>

                        <!-- Page recommendation card -->
                        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title card-cover rep-max-cover">
                                <h2 class="mdl-card__title-text">Strength Estimation</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                Estimate the maximum strength of your competitors, your training partners, or yourself from 1 repetition to 10 repetitions.
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a v-bind:href="recommendedURLs[2]" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Get Started
    </a>
                            </div>
                        </div>

                    </div>


                    </div>
                    <div class="mdl-tabs__panel" id="howitworks-panel">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col">

                              <p>The cardio performance tool uses the <a href="https://github.com/dpfens/FitnessJS/blob/v2.0/src/models/aerobic.ts">Riegel formula</a> to predict running, swimming, and cycling performances based on previous performances of the same sport. For information, see the <a href="https://github.com/dpfens/FitnessJS/wiki">wiki</a>.</p>

                            </div>

                        </div>

                    </div>
                    <div class="mdl-tabs__panel" id="feedback-panel">
                    </div>
                </div>

                <footer class="mdl-mini-footer">
                    <div class="mdl-mini-footer__left-section">
                        <div class="mdl-logo">FitnessJS</div>
                        <ul class="mdl-mini-footer__link-list">
                            <li><a href="/FitnessJS/privacy-terms.html">Privacy & Terms</a>
                            </li>
                        </ul>
                    </div>
                </footer>

                <div id="app-snackbar" class="mdl-js-snackbar mdl-snackbar">
                    <div class="mdl-snackbar__text"></div>
                    <button class="mdl-snackbar__action" type="button"></button>
                </div>
        </main>
        </div>

</body>
<script type="text/javascript" defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script type="text/javascript" src="../../js/tools/preferences.js"></script>
<script type="text/javascript" src="../../js/libs/vue.js"></script>
<script type="text/javascript" src="../../js/libs/vue-router.js"></script>
<script type="text/javascript" src="../../js/libs/prism.js"></script>
<script type="text/javascript" src="../../js/libs/fitness.min.js"></script>
<script type="text/javascript" src="../../js/libs/Chart.min.js"></script>
<script type="text/javascript" src="../../js/libs/lovefield.min.js"></script>
<script type="text/javascript" src="js/converter.js"></script>

<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

</html>
