<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NCXJXW');</script>
    <!-- End Google Tag Manager -->
    <title>FitnessJS - Race Time Calculator</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="health,wellness,fitness,physical fitness,physical activity,running,cycling,biking,swimming,weightlifting,lifting,gym,formula,calculations,javascript,VO2,VO2max,race time,race calculator,race time calculator,race time predictor,running time calculator,split calculator">
    <meta name="description" content="An easy, reliable library for building exercise related tools for running, swimming, cycling, and weightlifting.">

    <!-- Open Graph Tags -->
    <meta id="meta-title" property="og:title" content="Race Time Calculator">
    <meta id="meta-description" property="og:description" content="Estimate and compare race times in running, swimming, and cycling events based on past performances.">
    <meta property="og:type" content="product">
    <meta id="meta-image" property="og:image" content="https://dpfens.github.io/FitnessJS/assets/track-rubber.jpg">
    <meta property="og:url" content="https://dpfens.github.io/FitnessJS/tools/cardio-performance/">
    <meta name="twitter:card" content="summary_large_image" />

    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content="FitnessJS">
    <meta name="twitter:creator" content="@DougFenstermach" />
    <meta name="twitter:image:alt" content="The view down the track from the starting line">

    <!--  Non-Essential, But Required for Analytics -->
    <meta property="fb:app_id" content="1762255830763736" />
    <meta name="twitter:site" content="@DougFenstermach">

    <link rel="canonical" href="https://dpfens.github.io/FitnessJS/tools/cardio-performance/" />

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#29ABE2" />

    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#29ABE2" />

    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../node_modules/material-components-web/dist/material-components-web.css">
</head>

<body class="material-body mdc-typography">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCXJXW"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: '1762255830763736',
                xfbml: true,
                version: 'v2.8'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="mdc-toolbar mdc-toolbar--fixed">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <a href="#" class="global-menu-button material-icons">menu</a>
                <span class="mdc-toolbar__title catalog-title">FitnessJS</span>
            </section>
        </div>
    </div>

    <aside class="mdc-temporary-drawer">
        <nav class="mdc-temporary-drawer__drawer">
            <header class="mdc-temporary-drawer__header">
                <div class="mdc-temporary-drawer__header-content mdc-theme--primary-bg mdc-theme--text-primary-on-primary">
                    FitnessJS
                </div>
            </header>
            <nav class="mdc-temporary-drawer__content mdc-list-group">
                <div class="mdc-list">
                    <a class="mdc-list-item" href="/FitnessJS">
                        <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</i>Home
                    </a>
                    <a class="mdc-list-item" href="https://github.com/dpfens/FitnessJS/wiki">
                        <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">book</i>Wiki
                    </a>
                    <a class="mdc-list-item" href="https://github.com/dpfens/FitnessJS">
                        <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">code</i>Github
                    </a>
                </div>

                <hr class="mdc-list-divider">

                <div class="mdc-list">
                    <a class="mdc-list-item mdc-temporary-drawer--selected" href="/FitnessJS/tools/calories">
                        Calories
                    </a>
                    <a class="mdc-list-item" href="/FitnessJS/tools/composition">
                        Composition
                    </a>
                    <a class="mdc-list-item" href="/FitnessJS/tools/cardio-performance">
                        Cardio Performance
                    </a>
                    <a class="mdc-list-item" href="/FitnessJS/tools/rep-max">
                        Strength
                    </a>
                </div>
            </nav>
        </nav>
    </aside>

    <main id="app" class="mdc-toolbar-fixed-adjust">
        <div class="mdc-layout-grid">

            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--order-2">

                <ul v-if="performances.length" class="mdc-list mdc-list--two-line">

                    <li v-for="performance in performances" class="mdc-list-item">
                        <span class="mdc-list-item__start-detail material-icons" role="presentation">reorder</span>
                        <span class="mdc-list-item__text">
                                {{ performance.time.formatted }}
                                <span class="mdc-list-item__text__secondary">{{ performance.distance.value }} {{ performance.distance.units.name }}</span>
                        </span>
                        <span class="mdc-list-item__end-detail">
                                <button type="button" class="edit-button mdc-fab mdc-fab--mini mdc-fab--plain material-icons" aria-label="Edit person" title="Edit" v-on:click="editPerformance(performance)">edit</button>
                            </span>
                    </li>

                </ul>
                <div v-else>
                    <p class="text-center">No one...yet</p>
                </div>

            </div>

            <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--order-1">
                <div class="mdc-menu-anchor align-right">
                    <button id="share-menu-button" class="mdc-fab mdc-fab--mini material-icons" aria-label="Share">
                        <span class="mdc-fab__icon">share</span>
                    </button>

                    <div id="share-menu" class="mdc-simple-menu" tabindex="-1">
                        <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
                            <a v-bind:href="share.facebook" class="mdc-list-item" role="menuitem" tabindex="0">
                                    Facebook
                                </a>
                            <a v-bind:href="share.twitter" class="mdc-list-item" role="menuitem" tabindex="0">
                                    Twitter
                                </a>
                        </ul>
                    </div>
                </div>
                <canvas id="chart"></canvas>

            </div>

        </div>

        <button id="primary-action-button" class="mdc-fab material-icons" aria-label="Edit">
            <span class="mdc-fab__icon">add</span>
        </button>

        <aside id="edit-performance-dialog" class="mdc-dialog" role="alertdialog" aria-labelledby="edit-person-label" aria-describedby="edit-person-description">
            <div class="mdc-dialog__surface">
                <header class="mdc-dialog__header">
                    <h2 id="edit-person-label" class="mdc-dialog__header__title">
                        Edit Performance
                    </h2>
                </header>
                <section id="edit-person-description" class="mdc-dialog__body">
                    <div class="mdc-layout-grid">

                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-6-desktop">

                            <div class="mdc-textfield">
                                <input type="tel" class="mdc-textfield__input" v-model="editingPerformance.time.formatted" name="time">
                                <label class="mdc-textfield__label" for="name">Time</label>
                            </div>

                            <div class="mdc-textfield">
                                <input type="tel" class="mdc-textfield__input" v-model="editingPerformance.distance.value" name="distance">
                                <label class="mdc-textfield__label" for="age">Distance</label>
                            </div>

                            <select class="mdc-select" v-model="editingPerformance.distance.units">
                                <option v-bind:value="unit" v-for="unit in units.distance.options">{{ unit.name }}</option>
                            </select>
                        </div>
                    </div>
                </section>

                <footer class="mdc-dialog__footer">
                    <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
                    <button type="button" v-on:click="savePerformance(editingPerformance)" class="mdc-button mdc-button--raised mdc-button--primary mdc-dialog__footer__button mdc-dialog__footer__button--accept">Save</button>
                </footer>
            </div>
            <div class="mdc-dialog__backdrop"></div>
        </aside>

        <aside id="new-performance-dialog" class="mdc-dialog" role="alertdialog" aria-labelledby="new-person-label" aria-describedby="create-new-person-description">
            <div class="mdc-dialog__surface">
                <header class="mdc-dialog__header">
                    <h2 id="new-person-label" class="mdc-dialog__header__title">
                        Create a new person
                    </h2>
                </header>
                <section id="create-new-person-description" class="mdc-dialog__body">
                    <div class="mdc-layout-grid">

                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-6-desktop">

                            <div class="mdc-textfield">
                                <input type="text" class="mdc-textfield__input" v-model="newPerformance.time.formatted" v-on:keyup.enter="addPerformance(newPerformance, true)" name="time">
                                <label class="mdc-textfield__label" for="name">Time</label>
                            </div>

                            <div class="mdc-textfield">
                                <input type="tel" class="mdc-textfield__input" v-model="newPerformance.distance.value" v-on:keyup.enter="addPerformance(newPerformance, true)" name="distance">
                                <label class="mdc-textfield__label" for="age">Distance</label>
                            </div>

                            <select class="mdc-select" v-model="newPerformance.distance.units">
                                <option v-bind:value="unit" v-for="unit in units.distance.options">{{ unit.name }}</option>
                            </select>
                        </div>
                    </div>
                </section>

                <footer class="mdc-dialog__footer">
                    <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
                    <button type="button" v-on:click="addPerformance" class="mdc-button mdc-button--raised mdc-button--primary mdc-dialog__footer__button mdc-dialog__footer__button--accept">Create</button>
                </footer>
                </div>
            <div class="mdc-dialog__backdrop"></div>
        </aside>

    </main>

    <div class="mdc-snackbar" aria-live="assertive" aria-atomic="true" aria-hidden="true">
        <div class="mdc-snackbar__text"></div>
        <div class="mdc-snackbar__action-wrapper">
            <button type="button" class="mdc-button mdc-snackbar__action-button"></button>
        </div>
    </div>

</body>
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="../../node_modules/material-components-web/dist/material-components-web.min.js"></script>
<script type="text/javascript" src="../../js/tools/preferences.js"></script>
<script type="text/javascript" src="../../js/libs/vue.min.js"></script>
<script type="text/javascript" src="../../js/libs/vue-router.js"></script>
<script type="text/javascript" src="../../js/libs/fitness.min.js"></script>
<script type="text/javascript" src="../../js/libs/Chart.min.js"></script>
<script type="text/javascript" src="../../js/layout.js"></script>
<script type="text/javascript" src="js/converter.js"></script>
<script type="text/javascript" src="js/layout.js"></script>

<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

</html>
