<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NCXJXW');
    </script>
    <!-- End Google Tag Manager -->
    <title>FitnessJS - Rep Max Calculator</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="health,wellness,fitness,physical fitness,physical activity,weightlifting,lifting,gym,formula,calculations,bodybuilding,javascript,1-RM,1 rep max calculator,1rm calculator,one rep max calculator,bench press calculator,max bench calculator">
    <meta name="description" content="A tool for estimating and comparing repetition maximums in weightlifting, ranging from a 1-rep maximum(1-RM) to a 10-rep maximum (10-RM).">

    <!-- Open Graph Tags -->
    <meta id="meta-title" property="og:title" content="Rep Max Calculator">
    <meta id="meta-description" property="og:description" content="Calculate and compare the maximum number of weight and repetitions in weightlifting for bench press and other lifts.">
    <meta property="og:type" content="product">
    <meta id="meta-image" property="og:image" content="https://dpfens.github.io/FitnessJS/assets/track.jpg">
    <meta property="og:url" content="https://dpfens.github.io/FitnessJS/tools/rep-max/">
    <meta name="twitter:card" content="summary_large_image" />

    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content="FitnessJS">
    <meta name="twitter:creator" content="@DougFenstermach" />
    <meta name="twitter:image:alt" content="Sprint lanes of a track & field track">

    <!--  Non-Essential, But Required for Analytics -->
    <meta property="fb:app_id" content="1762255830763736" />
    <meta name="twitter:site" content="@DougFenstermach">

    <link rel="canonical" href="https://dpfens.github.io/FitnessJS/tools/rep-max/" />

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#29ABE2" />

    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#29ABE2" />

    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../node_modules/material-components-web/dist/material-components-web.css">
</head>

<body class="material-body mdc-typography">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCXJXW"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="mdc-toolbar mdc-toolbar--fixed">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <a href="#" id="menu" class="material-icons mdc-toolbar__menu-icon">menu</a>
                <span class="mdc-toolbar__title"><img height="35" src="../../assets/logo-mini.svg" /></span>
            </section>
        </div>
    </header>

    <aside class="mdc-drawer mdc-drawer--temporary mdc-typography">
        <nav class="mdc-drawer__drawer">
            <header class="mdc-drawer__header">
                <div class="mdc-drawer__header-content">
                    FitnessJS
                </div>
            </header>
            <nav class="mdc-drawer__content mdc-list">
                <a class="mdc-list-item" href="/FitnessJS">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>Home
                </a>
                <a class="mdc-list-item" href="https://github.com/dpfens/FitnessJS/wiki">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">book</i>Wiki
                </a>
                <a class="mdc-list-item" href="https://github.com/dpfens/FitnessJS">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">code</i>Github
                </a>

                <hr class="mdc-list-divider">
                <a class="mdc-list-item" href="/FitnessJS/tools/calories">
                    Calories
                </a>
                <a class="mdc-list-item" href="/FitnessJS/tools/composition">
                    Composition
                </a>
                <a class="mdc-list-item" href="/FitnessJS/tools/cardio-performance">
                    Cardio Performance
                </a>
                <a class="mdc-list-item" href="/FitnessJS/tools/rep-max">
                    Strength
                </a>
            </nav>
        </nav>
    </aside>

    <main id="app" class="mdc-toolbar-fixed-adjust">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">

                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">

                    <ul v-if="performances.length" class="mdc-list mdc-list--two-line">

                        <li v-for="performance in performances" class="mdc-list-item">
                            <span class="mdc-list-item__start-detail material-icons" role="presentation">reorder</span>
                            <span class="mdc-list-item__text">
                                {{ performance.reps }} x {{ performance.mass.value }} {{ performance.mass.units.name }}
                                <span class="mdc-list-item__text__secondary">{{ performance.mass.value }} {{ performance.mass.units.name }}</span>
                            </span>
                            <span class="mdc-list-item__end-detail">
                                <button type="button" class="edit-button mdc-fab mdc-fab--mini mdc-fab--plain material-icons" aria-label="Edit person" title="Edit" v-on:click="editPerformance(performance)">edit</button>
                            </span>
                        </li>

                    </ul>
                    <div v-else>
                        <p class="text-center">No one...yet</p>
                    </div>

                </div>

                <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <div class="mdc-menu-anchor align-right">
                        <button id="share-menu-button" class="mdc-fab mdc-fab--mini material-icons" aria-label="Share">
                            <span class="mdc-fab__icon">share</span>
                        </button>

                        <div id="share-menu" class="mdc-menu" tabindex="-1">
                            <div class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                                <a v-bind:href="share.facebook" class="mdc-list-item" role="menuitem" tabindex="0">
                                    Facebook
                                </a>
                                <a v-bind:href="share.twitter" class="mdc-list-item" role="menuitem" tabindex="0">
                                    Twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <canvas id="chart"></canvas>

                </div>
            </div>

        </div>

        <button id="primary-action-button" class="mdc-fab material-icons" aria-label="Edit">
            <span class="mdc-fab__icon">add</span>
        </button>

        <aside id="edit-performance-dialog" class="mdc-dialog" role="alertdialog" aria-labelledby="edit-person-label" aria-describedby="edit-person-description">
            <div class="mdc-dialog__surface">
                <header class="mdc-dialog__header">
                    <h2 id="edit-person-label" class="mdc-dialog__header__title">
                        Edit Performance
                    </h2>
                </header>
                <section id="edit-person-description" class="mdc-dialog__body">
                    <div class="mdc-layout-grid">

                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-6-desktop">

                            <div class="mdc-text-field">
                                <input type="tel" class="mdc-text-field__input" v-model="editingPerformance.reps" name="reps">
                                <label class="mdc-floating-label" for="reps">Reps</label>
                                <div class="mdc-line-ripple"></div>
                            </div>

                            <div class="mdc-text-field">
                                <input type="tel" class="mdc-text-field__input" v-model="editingPerformance.mass.value" name="mass">
                                <label class="mdc-floating-label" for="mass">Weight</label>
                                <div class="mdc-line-ripple"></div>
                            </div>

                            <select class="mdc-select" v-model="editingPerformance.mass.units">
                                <option v-bind:value="unit" v-for="unit in units.mass.options">{{ unit.name }}</option>
                            </select>
                        </div>
                    </div>
                </section>

                <footer class="mdc-dialog__footer">
                    <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
                    <button type="button" v-on:click="savePerformance(editingPerformance)" class="mdc-button mdc-button--raised mdc-button--primary mdc-dialog__footer__button mdc-dialog__footer__button--accept">Save</button>
                </footer>
            </div>
            <div class="mdc-dialog__backdrop"></div>
        </aside>

        <aside id="new-performance-dialog" class="mdc-dialog" role="alertdialog" aria-labelledby="new-person-label" aria-describedby="create-new-person-description">
            <div class="mdc-dialog__surface">
                <header class="mdc-dialog__header">
                    <h2 id="new-person-label" class="mdc-dialog__header__title">
                        Create a new performance
                    </h2>
                </header>
                <section id="create-new-person-description" class="mdc-dialog__body">
                    <div class="mdc-layout-grid">

                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-6-desktop">

                            <div class="mdc-text-field">
                                <input type="tel" class="mdc-text-field__input" v-model="newPerformance.reps" v-on:keyup.enter="addPerformance(newPerformance, true)" name="reps">
                                <label class="mdc-floating-label" for="reps">Reps</label>
                                <div class="mdc-line-ripple"></div>
                            </div>

                            <div class="mdc-text-field">
                                <input type="tel" class="mdc-text-field__input" v-model="newPerformance.mass.value" v-on:keyup.enter="addPerformance(newPerformance, true)" name="mass">
                                <label class="mdc-floating-label" for="mass">Weight</label>
                                <div class="mdc-line-ripple"></div>
                            </div>

                            <select class="mdc-select" v-model="newPerformance.mass.units">
                                <option v-bind:value="unit" v-for="unit in units.mass.options">{{ unit.name }}</option>
                            </select>
                        </div>
                    </div>
                </section>

                <footer class="mdc-dialog__footer">
                    <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
                    <button type="button" v-on:click="addPerformance" class="mdc-button mdc-button--raised mdc-button--primary mdc-dialog__footer__button mdc-dialog__footer__button--accept">Create</button>
                </footer>
            </div>
            <div class="mdc-dialog__backdrop"></div>
        </aside>

    </main>

    <div class="mdc-snackbar" aria-live="assertive" aria-atomic="true" aria-hidden="true">
        <div class="mdc-snackbar__text"></div>
        <div class="mdc-snackbar__action-wrapper">
            <button type="button" class="mdc-button mdc-snackbar__action-button"></button>
        </div>
    </div>

</body>
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="../../node_modules/material-components-web/dist/material-components-web.js"></script>
<script type="text/javascript" src="../../js/tools/preferences.js"></script>
<script type="text/javascript" src="../../js/libs/vue.min.js"></script>
<script type="text/javascript" src="../../js/libs/vue-router.js"></script>
<script type="text/javascript" src="../../js/libs/fitness.min.js"></script>
<script type="text/javascript" src="../../js/libs/Chart.min.js"></script>
<script type="text/javascript" src="js/converter.js"></script>
<script type="text/javascript" src="js/layout.js"></script>

<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

</html>
